@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    min-height: 100vh;
    background: url('../images/newnew.svg') no-repeat;   background-size: cover
}

.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
    background: url('../images/logo/webtree_logo.png') no-repeat;
   

}

.navbar a {
    position: relative  ;
    font-size: 18px;
    color: rgb(249, 249, 249);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background:rgb(255, 255, 255);
    transition: .3s;
}
.navbar a:hover:before {
    width: 100%;

}
