.button {
    background-color: #00731E; 
    color: #ffffff; 
    padding: 15px 30px; 
    border: none; 
    border-radius: 4px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px;
    cursor: pointer; 
    text-decoration: none; 
}

.button:hover {
    background-color: #00731E; 
    transform: scale(1.05);   
    transition: transform 0.3s; 
}
/* Container around svg,text and button */
.container-404{
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    width: 100%;
} 
.svg-404 {
    margin-top: -50px;
    max-width: 50%;
}


.button-404{
    display: inline-block;
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    color: #00731e;
    width: 40%;
    padding: 12px 25px;
    border-radius: 23px;
    letter-spacing: 0.25px;
    border: 1px solid #00731e;
    transition: all .3s;
    outline: none;
    margin-top: -60px;
    text-align: center;
    z-index: 10000000 !important;
}
.button-404:hover {
    background-color: #00731e!important;
    color: #fff!important;
}

@media (max-width: 800px) {
    .svg-404{
        max-width: 100%;
        margin-top: 15px;
    }
    .button-404{
        margin-top: 15px;
        width: 80%;
    }
}
@media (max-width: 1000px) {
    .svg-404{
        max-width: 90%;
    }
}


