.h2-impressum {
    font-size: 64px;
    font-weight: 600;
}

.impressum-phone {
    display: none;
}

.impressum {
    margin-left: 6rem;
    margin-bottom: 50px;
}

.datenschutz {
    margin-left: 6rem;
    margin-bottom: 50px;
    width: 50%;
}

.p-text-datenschutz {
    font-size: 20px !important;
    margin-bottom: 15px;
}

.h6-datenschutz {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}
.h4-impressum{
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 35px;
    font-weight: 600;
    color: var(--black);
}

.h5-impressum {
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 25px;
    color: var(--black);
    font-weight: 600;
}

.space-table {
    margin-top: 1rem !important;
}

.firstrow-table {
    font-size: 18px;
    letter-spacing: 2px !important;
    color: var(--grey);
    text-transform: uppercase;
    padding: 8px 1px 1px !important;
    vertical-align: top !important;
}

.secondrow-table {
    font-size: 22px;
    padding: 1px !important;
    color: var(--black);
    vertical-align: middle !important; 
}

.secondrow-table a {
    color: var(--primary-green);
    position: relative;
    transition: all .3s;
  }

.secondrow-table a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    margin-top: 12px !important;
    background-color: var(--primary-green);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  
  .secondrow-table a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .secondrow-table a:hover {
    color: var(--primary-green);
  }

  .datenschutz-link a {
    color: var(--primary-green);
    position: relative;
    transition: all .3s;
  }

.datenschutz-link a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    margin-top: 12px !important;
    background-color: var(--primary-green);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  
  .datenschutz-link a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  
  .datenschutz-link a:hover {
    color: var(--primary-green);
  }

@media (min-width: 1400px) {
    .impressum {
        margin-left: 14rem;
    }

    .datenschutz {
        margin-left: 14rem;
    }
}

@media (max-width: 1320px) {
    .datenschutz {
        width: 70%;
    }
}

@media (max-width: 1250px) {
    .h2-impressum {
        font-size: 58px;
    }
    .datenschutz {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .h2-impressum {
        font-size: 44px;
    }
    .impressum-phone {
        display: block;
    }

    .impressum-laptop {
        display: none;
    }

    .h4-impressum {
        font-size: 30px;
    }

    .h5-impressum {
        font-size: 24px;
    }

    .p-text-datenschutz {
        font-size: 18px !important;
    }

    .impressum {
        margin-left: 4rem;
    }

    .datenschutz {
        margin-left: 4rem;
    }
}

@media (max-width: 450px) {
    .firstrow-table {
        font-size: 15px;
    }
    .secondrow-table {
        font-size: 18px;
    }
    .impressum {
        margin-left: 1.5rem;
    }

    .datenschutz {
        margin-left: 1.5rem;
    }
}