/* Standard-Styling für die Karten */
.card {
    width: 18rem; /* Schmaler */
    margin: 10px auto; /* Horizontal zentriert */
    padding: 20px;
    text-align: center;
}

/* Standard-Styling für den Text in den Karten */
.card-text {
    font-size: 1rem; /* Du kannst die Schriftgröße nach Bedarf anpassen */
    text-align: center;
}

/* Standard-Styling für das Bild in den Karten */
.card-img-top {
    object-fit: cover;
    height: 70%; /* Du kannst die Höhe des Bildes nach Bedarf anpassen */
    width: 100%; /* Volle Breite des Containers */
}
/* Media Query für Mobilgeräte */
@media (max-width: 768px) {
    /* Für Bildschirmbreiten bis zu 768px */
    .card {
        width: 100%; /* Volle Breite des Containers */
    }
   
}
