#changing-sentence {
  color: #2a2a2a;
  font-size: 22px;
  font-weight: 700;
  margin-top: 25px;
}
#changing-word {
  color: #00731e;
  display: inline-block;
  opacity: 1; 
  transition: opacity 0.3s;
}

/* FAQ */
.faq-heading{
  display: flex;
  justify-content: center !important;
  padding-top: 30px;
}

.faq-content {
  width: 80%;
  margin: 0 auto;
}

.faq-question {
  padding: 20px 0;
  border-bottom: 1.5px solid #00731e;
  margin-right: 20px;
  margin-left: 20px;
}

.panel-title {
  font-size: 22px;
  width: 100%;
  font-weight: 700;
  position: relative;
  margin: 0;
  padding: 10px 10px 0 48px;
  display: block;
  cursor: pointer;
}

.panel-title em {
  color: #00731e;
  font-style:normal;
}

.panel-content {
  padding: 0px 14px;
  margin: 0 40px;
  height: 0;
  overflow: hidden;

  position: relative;
  opacity: 0;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

.panel:checked ~ .panel-content{
  height: auto;
  opacity: 1;
  padding: 14px;
}

.contact-faq {
  color: #00731e;
}

.contact-faq:hover {
  color: #00bb32;
}

.plus {
  position: absolute;
  margin: 8px 0 auto 10px;
  z-index: 5;
  font-size: 32px;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  cursor: pointer;
}

.panel:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.panel {
  display: none;
}

@media (max-width: 500px) {
  .faq-content {
    width: 95%;
  }
  .panel-content {
    width: 100%;
    margin: 0 auto 0 auto;
  }
}

/* SCROLLBAR */
html {
  scrollbar-width: normal;
  scrollbar-color: #f4f4f4;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #00731e;
  border-radius: 20px;
  height: 80px !important;
}

html::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

/* TEXTWRITER */
#text-writer {
height: 60px;
}

@media only screen and (max-device-width: 410px) {
  #text-writer{
    height: 60px;
    padding-bottom: 120px;
  }
} 

.p-landingpage{
margin-top: 4.5rem;
}

@media (max-height: 850px) {
  .p-landingpage {
    margin-top: 0;
  }
}

@media (max-height: 800px) {
  .p-landingpage {
    margin-top: 4.5rem;
  }
}

/* PARALLAX */
.parallax {
  background-image: url(../svg/codesnippet-laptop.svg);
  min-height: 70vh !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: 70% !important;
}

.divider-code-500 {
  display: none;
}

@media (max-width: 1000px) {
  .parallax {
    display: none;
  }
  .divider-code-500 {
    display: block;
    min-height: 70vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .divider-code-500 {
    min-height: 45vh !important;
  }
}

.custom-color-code {
    color: #00731e;
}

.wave-divider {
    width: 100%;
}
.svgContainer {
    position: fixed;
    bottom: 4%;
    right: 3%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    display: none;
}

.svg {
    display: block;
    width: 40px;
}

#svg2 {
    display: none;
}

#svgLink:hover #svg1 {
    display: none;
}

#svgLink:hover #svg2 {
    display: block;
}

.arrow-down {
  cursor: pointer !important;
  justify-content: center;
  display: flex;
  align-items: center;
}

.arrow-link {
  cursor: pointer;
  text-align: center;
  width: 60px;
  position: relative;
}

.green-arrow {
  display: none;
}

.arrow-link:hover .green-arrow {
  display: block;
}

.arrow-link:hover .black-arrow {
  display: none;
}

@media (max-width: 992px) {
  .arrow-down {
      margin-top: 80px;
  }
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    background-color: #fff;
    mix-blend-mode: difference;
    will-change: transform, background-color, left, top; 
    top: -50px;
    left: -50px;
}
@media (max-width: 900px) {
    .circle {
        display: none; 
    }
}
  
.hovered {
    transform: scale(1.4);
    background-color: #000;
    mix-blend-mode: difference;
}

.dash {
    width: 35px;
    margin-right: 25px;
    color: white;
    transition: all 400ms;
}

.agb-impressum {
  width: 32% !important;
}

@media (max-width: 991px) {
  .agb-impressum {
    width: 40% !important;
  }
}

@media (max-width: 767px) {
  .agb-impressum {
    width: 100% !important;
  }
}

.agb-impressum a {
    color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: all .3s;
  }

  .agb-impressum a:hover {
    color: #00bb32;
  }

  .agb-impressum a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    margin-top: 12px !important;
    background-color: #00bb32;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .agb-impressum a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.kontakt-links a {
    color: #ffffff;
    position: relative;
    text-decoration: none;
    font-size: 17px;
    transition: all .3s;
  }

  .kontakt-links a:hover {
    cursor: pointer !important;
    color: #00bb32 !important;  
  }
  
  .kontakt-links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #00bb32;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
  .kontakt-links a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

  .wave-footer {
    margin-top: 10%;
    margin-bottom: -2px;
    width: 100%;
  }
  
.webtree-logo-footer {
    width: 170px;
    z-index: 9;
  }

  @media(max-width: 992px) {
    .webtree-logo-footer {
        width: 160px;
      }
  }

@media (max-width: 767px){
    .webtree-logo-footer {
        margin-bottom: 15px;
    }

    .wave-footer {
      width: 102%;
      left: -1%;
      position: relative;
      display: block;
    }
}

.footer-links {
    padding-bottom: 40px !important;
}

.copyright-text {
  font-size: 13px;
}

.center-line {
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* Progress Bar */

.skill-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  box-shadow: inset 1px 1px 1.5px -0.25px rgba(0, 0, 0, 0.2),
              inset -1px -1px 1.5px -0.25px rgba(255, 255, 255, 0.7),
              -0.25px -0.25px 0px rgba(255, 255, 255, 1),
              0.25px 0.25px 0px rgba(0, 0, 0, 0.15),
              0px 8px 2.5px -2.5px rgba(0, 0, 0, 0.05);
}

#number {
  display: flex;
  text-align: center;
  flex-direction: column;
}

#progress-value {
  font-size: 35px;
  font-family: inherit;
  font-weight: 700;
  margin-top: 10px;
}

.progress-span {
  font-size: 18px;
  color: #999999;
  margin-top: -8px;
  font-weight: 300;
}

.circle-progress {
  fill: none;
  stroke-width: 6px;
  stroke-dasharray: 600;
  stroke-dashoffset: 480;
  transition: stroke-dashoffset 4s linear;
}

.skill.start-animation .circle-progress {
  stroke-dashoffset: 0;
}

#innovativ {
  stroke: #00bb32;
}

#zuverlaessig {
  stroke: #00731e;
}

#handgefertigt {
  stroke: #003d10;
}

.progress-svg {
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .skill-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skill {
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
