/* SCROLLBAR */

html {
  scrollbar-width: normal;
  scrollbar-color: #f4f4f4;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #00731e;
  border-radius: 20px;
  height: 80px !important;
}

html::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

/* TEXTWRITER */
#text-writer {
height: 60px;
}

@media only screen and (max-device-width: 410px) {
  #text-writer{
    height: 60px;
    padding-bottom: 120px;
  }
} 

.p-landingpage{
margin-top: 4.5rem;
}
.parallax {
  /* The image used */
  background-image: url("../images/parallax-picture.jpg") !important;
  /* Set a specific height */
  min-height: 350px !important;
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1000px) {
  .parallax {
    background-attachment: scroll !important;
  }
}


.custom-color-code {
    color: #00731e;
}

.wave-divider {
    width: 100%;
}
.svgContainer {
    position: fixed;
    bottom: 4%;
    right: 3%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
    display: none;
}

.svg {
    display: block;
    width: 40px;
}

#svg2 {
    display: none;
}

#svgLink:hover #svg1 {
    display: none;
}

#svgLink:hover #svg2 {
    display: block;
}


.arrow-down {
    cursor: pointer !important;
    transform: rotate(180deg);
    /* width: 80px; */
    justify-content: center;
    display: flex;
    align-items: center;
}

.arrow-down a {
    cursor: pointer;
    text-align: center;
    width: 60px;
}

@media (max-width: 992px) {
    .arrow-down {
        margin-top: 80px;
    }
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    background-color: #fff;
    mix-blend-mode: difference;
    will-change: transform, background-color, left, top; 
    top: -50px;
    left: -50px;
}
@media (max-width: 900px) {
    .circle {
        display: none; /* Hide on phone */
    }
}

      
.hovered {
    transform: scale(1.4);
    background-color: #000;
    mix-blend-mode: difference;
}

.dash {
    width: 35px;
    margin-right: 25px;
    color: white;
    transition: all 400ms;
}

.agb-impressum a {
    color: #ffffff;
    position: relative;
    text-decoration: none;
    transition: all .3s;
  }
  .agb-impressum a:hover {
    color: #00bb32;
  }
  .agb-impressum a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    margin-top: 12px !important;
    background-color: #00bb32;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .agb-impressum a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
.kontakt-links a {
    color: #ffffff;
    position: relative;
    text-decoration: none;
    font-size: 17px;
    transition: all .3s;
  }

  .kontakt-links a:hover {
    cursor: pointer !important;
    color: #00bb32 !important;  
  }
  
  .kontakt-links a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #00bb32;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
  .kontakt-links a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  /* .image-container {
    margin-top: 10%;
    margin-bottom: -1%;
    padding: 0 !important;
    width: 100%;
  }
  
  .image-container img {
    width: 104%; 
    position: relative;
    left: -3%;
    display: block;
  } */

  .wave-footer {
    margin-top: 10%;
    margin-bottom: -2px;
    width: 100%;
  }
  
  

  .webtree-logo-footer {
    width: 180px;
    z-index: 9;
  }

  @media(max-width: 992px) {
    .webtree-logo-footer {
        width: 160px;
      }
  }

@media (max-width: 767px){
    .webtree-logo-footer {
        margin-bottom: 15px;
    }

    .wave-footer {
      width: 102%;
      left: -1%;
      position: relative;
      display: block;
    }
}

.footer-links {
    padding-bottom: 40px !important;
}

.copyright-text {
  font-size: 11px;
}