.custom-color-code {
    color: #003d10;
}

.wave-divider {
    width: 100%;
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    transition: background-color 0.12s ease-out, transform 0.12s ease-out, left 0.12s, top 0.12s; /* Hier wurde die Änderung vorgenommen */
    background-color: #fff;
    mix-blend-mode: difference;
    will-change: transform, background-color, left, top; /* Hier wurde `left` und `top` hinzugefügt */
    top: -50px;
    left: -50px;
}
      
.hovered {
    transform: scale(1.4);
    background-color: #000;
    mix-blend-mode: difference;
}
